body {
  background: #FBFAF8 !important;
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
}

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

ul {
  text-align: center;
}

a {
  color: #007849
}

a:hover {
  color: #00663F
}

#title {
  padding-top: 40px;
}

#subtitle {
  padding-bottom: 20px;
}

#startButton {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

#aboutButton{
  width: 150px;
  height: 40px;
  font-size: 0.9rem
}

#aboutDescription{
  font-size: 16px;
}
#homeButton {
  margin: auto;
  display: block;
  margin-top: 20px;
}

#instructions {
  position: absolute;
  right: 10px;
  top: 10px;
}

#questionBox {
  height: 40px;
  width: 300px;
}

.form-inline {
  display: inline-block;
}
.btn,
.btn-secondary {
  background-color: #007849;
  color: #FBFAF8;
  border-style: none;
  outline: 0;
}

.btn:hover,
.btn-secondary:hover {
  background-color: #00663F;
  color: #FBFAF8;
  outline: 0;
}

.container {
  text-align: center;
  margin-bottom: 15px;
}

.row {
  padding-bottom: 10px;
}

.form-group {
  margin: 0px;
}

.form-text {
  margin-bottom: 0px;
}

.modal-body {
  text-align: left;
}
